* {
    box-sizing: border-box;
}
body{
    background-color: hsla(226, 87%, 18%, 0.377);
}
img{
    height: 100px;
    width: 100px;
    margin: 15px;
    padding: 5px;
}
p{
    border-style: solid;
    padding: 5px;
    font-size: 2em;
    
}
 
[class*="col-"] {
     float: left;
     padding: 1px;
    
}
[class*="Area"]{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.col-3 {width: 20%;}
.col-6 {width: 40%;}
.col-12{width: 100%;}

@media only screen and (min-width: 768px){
    .playerArea{
        align-items:flex-end;
        justify-content: center;
    }
    .opponentArea{
        align-items: flex-start;
        justify-content: center;
    }
    img{
        height: 125px;
        width: 125px;
        margin: 15px;
        padding: 5px;
    }
    .col-3 {width: 15%;}
    .col-6 {width: 42.5%};
    .col-12{width: 42.5%;}
}



[class*="row"]::after {
    content: "";
    clear: both;
    display: table;
}

[class*="self"]:hover{
    cursor:pointer;
    border: 5px solid black;
    background-color: rgba(219, 219, 219, 0.644);
    opacity: 90%;
}

.emptySpace{
    height: 100px;
}
#title{
    display: flex;
    justify-content: center;
    /*color: hsla(230, 74%, 6%, 0.637);*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}
.header{
    border-bottom: 5px solid rgb(6, 6, 65);

}

.scores {
    display: flex;
    flex-direction: column;
    align-items: center;
}
[class*="comp"]{
    border: solid;
    border-color: rgb(6, 6, 65);
    border-radius: 5px;
    border-width: medium;
    background-color: rgb(212, 212, 240);
}
[class*="self"]{
    border: solid;
    border-color: rgb(6, 6, 65);
    border-radius: 5px;
    border-width: medium;
    background-color: rgba(72, 72, 121, 0.295);
}
/* 
.paper{
    width: 10%;
    height: auto;
}
.scissors{
    width: 10%;
    height: auto;
} */

